body {
    color: rgb(255, 255, 255);
    font-family: Arial, Helvetica, sans-serif;
    background: linear-gradient(-1000deg, #464c53, #00010f);
    min-height: 100vh;
    text-align: center;
    margin: 0;
    padding: 0;
}





/* Galeria */
ul {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 0;
    margin: 0;
}

.container-block {
    width: 100%;
    padding: 0 5%;
}

.linguagens {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
}

.horizontal  {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
}

.horizontal img {
    width: 100%;
    max-width: 1050px; /* Limita o tamanho máximo das imagens */
    height: auto;
    border-radius: 5%;
    border: 5px solid rgb(0, 57, 179);
    box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.4);
    display: block;
    transition: transform 0.3s ease;
}

.horizontal img:hover {
    transform: scale(1.06); /* Aumenta a imagem em 20% */
}

img {
    width: 100%;
    max-width: 350px; /* Limita o tamanho máximo das imagens */
    height: auto;
    border-radius: 5%;
    border: 5px solid rgb(0, 57, 179);
    box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.4);
    display: block;
    transition: transform 0.3s ease;
}

img:hover {
    transform: scale(1.2); /* Aumenta a imagem em 20% */
}


/* Estilos para o modal */
.modal {
    display: none; /* Inicialmente escondido */
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.9); /* Fundo escuro semi-transparente */
    justify-content: center;
    align-items: center;
    z-index: 1000;
    overflow: auto; /* Permite rolagem se necessário */
}

.modal img {
    max-width: 27%;
    max-height: 100%;
    border-radius: 5%;
    border: 5px solid white;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.8);
    transition: transform 0.3s ease; /* Suave transição para qualquer transformação */
}

/* Adiciona estilo especial para a imagem horizontal quando aberta no modal */
.horizontal-modal {
    max-width: 90%; /* Aumenta o tamanho máximo no modal */
    height: auto;
    object-fit: cover;
}

/* Efeito hover para a imagem no modal quando for da classe horizontal */
.horizontal-modal:hover {
    transform: scale(2.4); /* Aumenta a imagem em 10% ao passar o mouse */
    transition: transform 0.3s ease; /* Suaviza a transição ao passar o mouse */
}

.close {
    position: absolute;
    top: 20px;
    right: 40px;
    color: white;
    font-size: 40px;
    font-weight: bold;
    cursor: pointer;
}

.close:hover,
.close:focus {
    color: #f1f1f1;
    text-decoration: none;
    cursor: pointer;
}





/* Redução automática das imagens */
@media (max-width: 1200px) {
    img {
        max-width: 300px;
    }
}

@media (max-width: 992px) {
    img {
        max-width: 250px;
    }
}

@media (max-width: 768px) {
    img {
        max-width: 200px;
    }
}

@media (max-width: 576px) {
    img {
        max-width: 150px;
    }
}





h1 {
    color: rgb(126, 126, 126);
    text-decoration: none;
    font-size: xxx-large;
}
h2 {
    color: rgb(255, 255, 255);
    font-size: 500%;
}
.container-block .linguagens {
    display: flex; 
    justify-content: center;
}

.container-block .humanas {
    display: flex; 
    justify-content: center;
}

.container-block img {
    margin: 10px; 
}

.horizontal img {
    width: 1050px;
    height: 600px;
    border-radius: 5%;
    border: 5px solid rgb(0, 57, 179);

}



